@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
*{
    text-decoration: none;
    margin:0;
    padding:0;
    font-family: 'Raleway',sans-serif;
    box-sizing: border-box;
}

body {
    min-height:100%;
    width: 100%;
    margin:0px;
    padding:0px;
    overflow-x:hidden ;
}
.navbar {
    width:85%;
    margin:auto;
    padding:45px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    display: inline-block;
    list-style:none;
    margin: 0 20px;
    position:relative;

}
.navbar ul li a{
    text-decoration: none;
    color: white;

}
.navbar ul li::after{
    content: '';
    height:3px;
    width:0;
    background: white;
    position:absolute;
    left:0;
    right:0;
    bottom:-10px;
    transition: 0.5s;
    
}

.navbar ul li:hover::after{
    width:100%;

}

#Home{
    width:100%;
    position: absolute;
    top: 20%;
    transform: translateY(-50);
    text-align: center;
    color: #fff;
    margin-bottom: 150px;

}
#Home h1{
    font-size: 70px;
    margin-top: 100px;
}
#Home p{
    margin: 20px auto;
    font-weight:100;
    line-height: 25px;
    overflow: auto;
    padding-bottom: 80px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight:bold;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor:pointer;
    overflow: hidden;
    position:relative
}
.container{
    max-width:1170px;
    background-color:#000;
    min-height: 100%;
}
ul{
    list-style: none;
}
.footer{
    background-color:#000;
    padding:70px 0;
    transform: translateY(754px);
    margin-bottom:180px;
    padding-bottom: 180px;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding:0 25px;
    justify-content: center;
    align-items: center;
    transform: translateX(70px);
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    transform: translateX(-40px);
}
/*
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom:-10px;
    background-color:#ffffff ;
    height: 2px;
    box-sizing: border-box;

} */
.footer-col h4::after{
    content: '';
    position: absolute;
    left:50px;
    bottom:-10px;
    background-color:#ffffff ;
    height: 2px;
    width:50%;
    right: 0;
    transition: 0.5s;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    display:grid;
    grid-template-columns: columns;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration:none;
    font-weight: 300;
    color:white;
    display:block;
    transition: all 0.3s ease ;
    text-align:left ;
    transform: translateX(50px);
}
.footer-col ul li a:hover{
    color:#bbbbbb;
    padding-left: 5px;

}
.footer-col .social-links a{
    display: inline-block;
    height: 30px;
    width:30px;
    background-color:white;
    margin-right: 3px;
    text-align:center;
    line-height: 30px;
    border-radius: 50%;
    margin-left:10px ;
    color: black;
    transition: all 0.5s ease;

}
.footer-col .social-links a:hover{
    color:#bbbbbb;
}
@media(max-width:789px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }

}
@media only screen and (max-width: 630px) {
    .footer {
       margin-bottom: 1px; 
       min-height: 100%;
    }
    .big-image{
        height: 500vh;
    }
 }
/*
#footer .social-menus ul {
    position: sticky;
    top:1020px;
    left:90%;
    padding:0%;
    margin:0;
    transform: translate(65%,-25%); 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#footer .social-menus ul li{
    position: relative;
    list-style: none;
    margin: 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#footer .social-menus ul li .fa{
    font-size: 20px;
    line-height: 40px;
    color:black;
    display: inline;
    position: relative;
    


}
#footer .social-menus ul li a{
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}
#footer{
    content: '';
    background-color:black;
    height:200px;
    margin-bottom: -330%;
    clear:both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    position:relative;
    width:100%;
    bottom:0;
    transform: translateY(-135px);
}
#footer .logo{
    width:120px;
    cursor: pointer;
    right:1300px;
    position: relative;
}
#container{
    position: relative;
    min-height:100%;
}
*/

.big-image{
    width:100%;
    height: 250vh;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(to bottom,rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://get.pxhere.com/photo/landscape-tree-nature-mountain-snow-winter-cloud-black-and-white-sky-photography-mountain-range-weather-alpine-monochrome-season-ridge-summit-austria-sunny-great-mountains-plateau-large-landform-monochrome-photography-geographical-feature-mountainous-landforms-geological-phenomenon-1249302.jpg);
    background-attachment:fixed ;
  }

#About {
    display:grid;
    grid-template-columns:repeat(auto-fit,350px);
    grid-template-rows:-10px; 
    grid-template-areas:"header header" "aside main" ;
    transform: translateY(30px);
    line-height: 20px;

}

.About1{
    grid-area:header;
}

.About2{
    grid-area: aside;
}

.About3{
    grid-area: main;
}

.About2 p{
    font-size:0.7rem;
    text-align: left;
}

.About3 p{
    font-size: 0.7rem;
    padding-left:1px; 
    text-align: left;
}

.About1 p{
    text-align: left;
    font-size:0.8rem;
}
    
@media screen and (max-width:901px){
    .About3{
        grid-area:aside;
        margin-top:150px;
        padding-left: 10px;
    }
    .About2{
        padding-left:10px;
    }
    .About1{
        padding-left:10px;
        
    }
}
    
    






